body{
    background-color: rgb(25, 25, 25);
    color:#ffe66d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Links in the footer */
a:link, a:visited{
    color: rgb(255, 255, 255);
}
a:hover{
    color: #ffe66d;
}

/* Footer */
footer{
    display:flex;
    flex-direction: column;
    font-size: 15px;    
}
footer p{
    margin-top: -8px;
}

header {
    display: flex;
    flex-direction: column;
}

.headerContainer{
    background-color: black;
    justify-content: space-around;
    display: inline-flex;
    padding: 10px;
}

.headerSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pageTitle {
    font-size: 60px;
    text-align: center;
    margin-left: 10%;
}

.pageTitle:hover{
    color:#00e603;
}

.logo{
    object-fit: contain;
    width: 20%;
}

.subtitle{
    color:#00e603;
    text-align: center;
    padding: 0px 10px;
}

.subtitle:hover{
    color: #ffe66d;
}